.contact{
    h2{
        color: #C4F27E;
        font-size: 80pt;
    }
    font-size: 40pt;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #267302;
    background-size: width 1000px;height: 200px;;
}