.contact{
    h2{
        color: #C4F27E;
        font-size: 40pt;
    }
    font-size: 25pt;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: #267302;
}