.projects{
        h2{
        color: #C4F27E;
    }
    background-color: #267302;
    background-size: contain;
    text-align: center;
    p{
        color: #022601;
    }
    font-size: 20pt;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    
  
   
