.projects{
        h2{
        color: #C4F27E;
        font-size: 25pt;
    }
    background-color: #000000;
    
    text-align: center;
    
    color: #267302;
    font-size: 20pt;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    
  
   
