.projects{
        h2{
        color: #C4F27E;
        font-size: 80pt;
    }
    background-color: #267302;
    background-size: width 1000px;height: 800px;;
    text-align: center;
    p{
        color: #022601;
    }
    font-size: 40pt;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    
  
   
