.skills{
   background-color: #000000;
   
   h2{
       color: #C4F27E;
       font-size: 40pt;
   }
  color: #267302; 
 text-align: center;
 font-size: 25pt;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
   
  
}
