.skills{
   background-color: #267302;
   background-size: width 1000px;height: 600px;;
   h2{
       color: #C4F27E;
       font-size: 80pt;
   }
    
 text-align: center;
 font-size: 40pt;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
   
  
}
