.skills{
   background-color: #267302;
   background-size: contain;
   h2{
       color: #C4F27E;
   }
    
 text-align: center;
 font-size: 14pt;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
   
  
}
