body {
background-color: #0D0D0D;
font-size: 14pt;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
h1 {
color: #C4F27E;
text-align: center;
}

