body {
background: linear-gradient(to bottom, #267302 41%, #000000 73%);

font-size: 25pt;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
h1 {
color: #C4F27E;
text-align: center;
font-size: 40pt;
}

