body {
background: #000000 ;

font-size: 20pt;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
h1 {
color: #C4F27E;
text-align: center;
font-size: 25pt;
}

